@import "util/variables";
@import "util/keyframes";

@import "base/typography";

@import "layout/form";
@import "layout/sidebar";
@import "layout/sizes";

@import "pages/author_list";
@import "pages/book_list";
@import "pages/item_view";
@import "pages/login";

@import "components/basic";
@import "components/button";
@import "components/carousel";
@import "components/expandable_container";
@import "components/file_search";
@import "components/label";
@import "components/multi_selection";
@import "components/navbar";
@import "components/popup";
@import "components/popup_book_edit";
@import "components/popup_book_search";
@import "components/popup_comparison";
@import "components/poster";
@import "components/vertical_list";


// TODO: Sort rest in respective files.


:root {
	--ratio-portrait: 0.668;

	--brand: #ffc078;
	--brand-1: #ffa94d;
	--brand-2: #ffd8a8;
	// --text-1: var(--gray-1);
	// --text-2: var(--gray-3);
	--surface-1: #212529;
	--surface-2: #343a40;
	--surface-3: #495057;
	--surface-4: #868e96;
	--text-size-content-4: 80ch;

	height: 100%;
	width: 100%;

	// color: var(--text-1);
	// accent-color: var(--brand);
}

body {
	height: 100%;
	width: 100%;
	margin: 0;

	background-color: var(--surface-2);
}

.tab-bar {
	height: 2em;
	display: flex;
	flex-direction: row;

	.tab-bar-item {
		background-color: var(--surface-1);
		cursor: pointer;
		padding: 5px;
	}
}

/* EDITING ITEMS CONTAINER */

.editing-items-inside {
	.book-list-item {
		.poster {
			.top-left {
				display: block;
			}
		}
	}
}


/* CENTER DIV */
.center-normal {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;

	> .center-container {
		margin: auto;
	}
}

.horizontal-center {
    margin: 0 auto;
}

.shrink-width-to-content {
	width: max-content;
}


.outer-view-container {
	flex-grow: 1;
	overflow: hidden;
}

.view-container {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	flex-grow: 1;
	overflow-y: auto;
	max-height: 100%;
}

a {
	text-decoration: none;
}