.item-view-container {
	// Info
	> .info-container {
		display: flex;
		flex-direction: row;

		> .poster {
			flex-shrink: 0;
		}

		> .metadata-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;

			> .metadata {
				flex-grow: 1;
				margin-left: 1em;
				display: flex;
				flex-direction: column;

				> .title {
					max-inline-size: var(--size-header-3);
				}

				> .description {
					max-inline-size: var(--text-size-content-4);
					white-space: pre-wrap;

					// Max 6 lines
					display: -webkit-box;
					-webkit-line-clamp: 6;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				// Editing
				> input.title {
					margin-bottom: 10px;
				}
			}
		}
	}

	section {
		margin-top: 1em;

		h2 {
			margin-bottom: 0.25em;
		}
	}

	// Files
	.files-container {
		display: flex;
		flex-wrap: wrap;

		> .file-item {
			display: block;
			width: calc(25% - 1em);
			padding: 0.5em;
			margin: 0.5em;

			border-radius: var(--bs-border-radius);
			border: var(--border-size-1) solid transparent;

			&:hover {
				border-color: var(--brand);
			}
		}
	}

	.posters-container {
		display: flex;
		overflow-x: auto;
		flex-wrap: nowrap;
		padding: 10px 0px;

		.poster {
			flex-shrink: 0;
			margin: 0 3px;
			cursor: pointer;

			&.selected {
				cursor: default;
				border-width: 4px;
			}
		}
	}

	// Authors
	.authors-container,
	.characters-container {
		display: flex;
		flex-direction: row;
	}
}