

.new-container {
    border-radius: var(--radius-2);
    border: var(--border-size-1) solid var(--brand);
    display: flex;
    align-items: center;
    cursor: pointer;

    > span {
        text-align: center;
        width: 100%;
    }
}