.file-search {
    // .location {}

    .files {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;

        > .file {
            padding: 5px;
            background: var(--surface-1);
            cursor: pointer;

            &:nth-child(odd) {
                background: var(--surface-2);
            }
        }
    }
}