
.label-group {
	display: flex;
	flex-wrap: wrap;

	> * {
		margin: 0 2px;
	}
}


.label {
	width: fit-content;
	height: fit-content;

	padding: 3px;
	border-radius: var(--bs-border-radius);
	background-color: var(--surface-1);

	&.green {
		background-color: var(--green-9);
	}

	&.red {
		background-color: var(--red-9);
	}

	&.yellow {
		background-color: var(--yellow-9);
	}
}