
nav {
	// Dropdown

	.search-dropdown {
		position: absolute;
		background-color: var(--surface-3);
		width: 100%;
		padding: 6px;
		z-index: 100;
		overflow-y: auto;
		max-height: 28em; // TODO: Auto height.
		max-width: 35em;

		top: 100%;

		.search-item {
			display: flex;
			flex-direction: row;
			height: 7em;
			margin: 2px 0;

			&:hover {
				background-color: var(--surface-2);
			}

			.info {
				flex-grow: 1;
				overflow: hidden;
				padding-left: 10px;

				.book-name {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
	}
}