.external-book-search-container {
	overflow-y: auto;

	> h2 {
		margin-bottom: 0.5em;
	}

	> .book-search-items {
		overflow-y: auto;

		> *:not(:last-child) {
			margin-bottom: 0.5em;
			cursor: pointer;
		}
	}
}